name: test-cross-platform

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main') }}

jobs:
  test-cross-platform:
    strategy:
      fail-fast: false
      matrix:
        runner-image:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 24.x
          - 22.x
          - 22.13.0
          - 20.x
          - 20.19.0

    runs-on: ${{ matrix.runner-image }}

    steps:
      - name: Set up checkout
        uses: actions/checkout@v6

      - name: Set up node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          # Do not cache node_modules, as it can cause unexpected issues when testing cross-platform.

      - name: Set up node_modules
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Test
        run: npm run test
